<!-- <div class="play-container">
  <audio #audio controls>
    <source src="assets/new-try.mp3" />
  </audio>
  <h1 class="text-glow-pink">{{ flow?.flow?.projectName }}</h1>
  <h1 class="text-glow-pink">
    Number of Steps {{ flow?.flow?.steps?.length }}
  </h1>
  <!-- <div class="content">
    <div class="play-button" (click)="startFlow()">PLAY</div>
  </div>
</div> -->
<div class="player-container">
  <div class="player-area">
    <app-edit
      (progressEmitter)="timeUpdateEvent($event)"
      [pause]="pause"
      [play]="play"
    ></app-edit>
  </div>
  <div class="content">
    <div class="card">
      <app-card>
        <div class="select-time-stamp border-glow-green">
          <div class="counter text-glow-green">
            {{ formattedTimeStamp }}
          </div>
        </div>
      </app-card>
    </div>
    <div class="card">
      <app-card>
        <div class="list-slot">
          <app-steps-list></app-steps-list>
        </div>
      </app-card>
    </div>
  </div>
</div>
