@import "variables";

@mixin display-card {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: $card-border-primary;
  border-radius: $border-radius;
  background-color: $card-background-prinary;
  box-shadow: $drop-shawow-primary;
}
