<div class="create-container">
  <div class="player-area">
    <app-edit
      (progressEmitter)="timeUpdateEvent($event)"
      [pause]="pause"
      [play]="play"
    ></app-edit>
  </div>
  <div class="content">
    <div class="card">
      <app-card>
        <app-control-actions
          [timeUpdateObject]="timeUpdateObject"
          (pauseAudio)="pauseAudio($event)"
          (playAudio)="playAudio($event)"
        ></app-control-actions>
      </app-card>
    </div>
    <div class="card">
      <app-card>
        <app-scenes-list [scenes]="scenes"></app-scenes-list>
      </app-card>
    </div>
    <div class="card">
      <app-card></app-card>
    </div>
  </div>
</div>
