@import "variables";
@import "mixins";
@import "components";

.scene-item-container {
  color: white;
  margin-bottom: 10px;
  font-size: 14px;
  height: 100%;

  .card {
    height: inherit;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;

    .scene-name {
      text-transform: uppercase;
    }

    .value {
      font-size: 14px;
    }
  }
}
