.scene-item-container {
  color: white;
  margin-bottom: 10px;
  font-size: 14px;

  .card {
    border: 1px solid whitesmoke;
    padding: 5px;
    border-radius: 5px;

    .table {
      display: flex;
      justify-content: space-between;
    }
  }
}
