.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 10px;

  .outer-container {
    display: flex;
    justify-content: space-between;

    height: 85vh;
    width: 90vw;

    border: 2px solid black;

    .global-menu {
      background-color: rgba(21, 219, 21, 0.062);
      height: 100%;
      transition: all 0.3s ease-out;
      width: 20%;
    }

    .output-area {
      background-color: rgba(48, 16, 16, 0.274);
      height: 100%;
      transition: all 0.3s ease-out;
      width: 80%;
    }
  }
}
